@import "css/base.min.css";

:root {
  --primary-color: #00ce98;
  --active-color: #036652;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Noto Sans JP", "Noto Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  scroll-behavior: smooth;
}
h1 {
  font-size: 2rem;
  margin: 1.25rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
h2::before {
  content: url("/svg/heading.svg");
  display: inline-block;
  width: 1.5rem;
  margin-right: 0.5rem;
}
p {
  margin: 1rem 0;
  text-align: justify;
}
img {
  max-width: 90%;
  margin: 1rem auto;
  border-radius: 0.5rem;
}
@media (min-width: 1024px) {
  img {
    max-width: 80%;
  }
}
@media (min-width: 1920px) {
  img {
    max-width: 65%;
  }
}
.panel img {
  max-width: 100%;
  margin: 0;
  border-radius: 0;
}
main {
  flex-grow: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 1024px) {
  main {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media (min-width: 1920px) {
  main {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}
em {
  margin: 0 0.25rem;
}
a {
  word-break: break-all;
}
a:hover {
  text-decoration: underline;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
}
header .logo {
  margin-left: 2rem;
  width: 5rem;
}

nav {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
nav a {
  padding: 0.25rem;
  margin: 1rem 0;
}
@media (min-width: 1024px) {
  nav {
    justify-content: start;
  }
  nav a {
    margin: 1rem;
  }
}
main a {
  color: var(--primary-color);
}

ul {
  list-style-image: url("/svg/origami-list.svg");
  list-style-position: inside;
  line-height: 1.5;
  padding-left: 0rem;
}
ul li {
  margin: 0.5rem;
}
@media (min-width: 1024px) {
  ul {
    padding-left: 1rem;
  }
}
footer {
  border-width: 1px;
  margin-top: 4rem;
  width: 100%;
}
footer p {
  text-align: center;
  width: 100%;
}
.w-full {
  width: 100%;
}

.card {
  width: 16rem;
  border-width: 1px;
  border-radius: 0.5rem;
  margin: 1rem;
  overflow: hidden;
}
.card img {
  width: 100%;
}
.card p {
  text-align: center;
  color: #000;
}

.card:hover {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.main-smaller {
  width: 100%;
  margin: auto;
}
@media (min-width: 1024px) {
  .main-smaller {
    width: 75%;
  }
}
.totop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
  background-color: var(--primary-color);
  padding: 0.25rem;
  border-radius: 0.5rem;

  transform: translateY(1rem) translateY(1rem);
  transition: all 0.25s ease;
  opacity: 0;
  width: 3rem;
  height: 3rem;
}
.totop:hover {
  background-color: var(--active-color);
}

.totop img {
  max-width: 100%;
  margin: 0;
  width: 100%;
}
.show {
  opacity: 1;
  transform: translateY(-1rem) translateX(-1rem);
}
#totop:hover {
  background-color: var(--primary-color);
}
.arrow {
  margin: 0 0.5rem;
  display: inline;
  height: 1em;
  width: 1em;
}

form {
  width: 100%;
  margin: 1rem auto;
  padding: 0.5rem;
  border-width: 0.25rem;
}
@media (min-width: 640px) {
  form {
    width: 80%;
    padding: 1rem 2rem;
  }
}
@media (min-width: 1024px) {
  form {
    width: 65%;
    padding: 1rem 2rem;
  }
}
form p {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 640px) {
  form p {
    flex-direction: row;
  }
}
form input {
  width: 90%;
  border-width: 1px;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0;
}
@media (min-width: 640px) {
  form input {
    width: 65%;
    margin: 0.5rem 0 0.5rem 1rem;
  }
}
form textarea {
  display: block;
  border-width: 1px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem auto;
  width: 90%;
  min-height: 10rem;
}
button[type="submit"] {
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  transition: all 0.5ms linear;
}
button[type="submit"]:hover {
  background-color: var(--active-color);
}
